*{
    box-sizing: border-box;
}
.App{
    min-height: 100vh;
}
.search-box{
    padding-top: 3em;
    position: absolute;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}
.search-bar {
    height: 3em;
    padding-left: 2em;
    border: none;
    outline: none;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 0.8em;
    display: block;
}
.search-bar:focus{
    background-color: rgba(255, 255, 255, 0.75);
}



.location{
    padding-top: 1em;
    color: #fff;
    font-size: 4em;
    font-weight: 500;
    text-align: center;
    text-shadow: 4px 4px rgba(50, 50, 80, 0.5);
    font-family: Georgia, Arial, sans-serif;
}
.date{
    padding-top: 1em;
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    font-style: italic;
    text-shadow: 1px 1px rgba(50, 50, 80, 0.5);
}
.col{
    width: 50%;
    padding-top: 3em;
    float: left;
}
.temp{
    color: #fff;
    padding-left: 10%;
    padding-top: 1.5em;
    font-size: 2.8em;
    font-weight: 200;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 80, 0.5);
}
.wind, .descripion, .pressure, .sunrise, .sunset{
    color: #fff;
    font-size: 1em;
    font-weight: 200;
    text-align: center;
    text-shadow: 2px 2px rgba(50, 50, 80, 0.5);  
}

.otherValues{
    margin: 10%;
    padding-top: 200px;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10%;
    padding-bottom: 50px;
}
.pressure, .sunrise, .sunset{
    display: none;       
}

@media screen and (min-width: 450px), screen and (orientation: landscape) and (max-width: 767px) {
    .search-box{
        padding-top: 8em;
        position: absolute;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%)
        }
        .search-bar {
        font-size: 1.5em;
        }
        .location{
        padding-top: 3.5em;
        font-size: 2.2em;
        font-weight: 500;
        }
        .col{
        padding-top: 2em;
        }
        .temp{
        padding-top: 1.2em;
        font-size: 2.8em;
        }
        .wind, .descripion{
        font-size: 1.3em;
        font-weight: 200;
        }
        .otherValues{
        margin: 5%;
        padding-top: 200px;
        padding-bottom: 1em;
        }
}

@media (min-width: 768px) and (max-width: 991px) {
    .search-box{
        padding-top: 10em;
    }
    .search-bar {
        font-size: 2.5em;
    }
    
    .location{
        padding-top: 2.5em;
        font-size: 4em;
    }
    .date{
        font-size: 1.5em;
    }
    .col{
        padding-top: 2em;
        display: block;
        width: 100%;
        padding-left: 1em;
    }
    .icon{
        padding-left: 9em;
    }
    .temp{
        display: block;
        padding-top: 0em;
        font-size: 6em;
        font-weight: 200;
        text-align: left;
        text-shadow: 2px 2px rgba(50, 50, 80, 0.5);
    }
    .mainDetails{
        display: block;
        width: 50%;
    }
    .wind, .descripion, .pressure, .sunrise, .sunset {
        font-size: 1em; 
    }
    
    .otherValues{
        margin: 10%;
        padding-top: 1em;
        font-size: 2em;
        background-color: inherit;
        box-shadow: inherit;
        border-radius: none;
    }
    .pressure, .sunrise, .sunset{
        display: block;       
    }

}
@media (min-width: 992px){
    .container{
        margin: 0 auto;
        max-width: 1100px;
    }
    .search-box{
        padding-top: 10em;
    }
    .search-bar {
        font-size: 2.5em;
    }
    
    .location{
        padding-top: 2.5em;
        font-size: 4em;
    }
    .date{
        font-size: 1.5em;
    }
    .col{
        padding-top: 2em;
        display: block;
        width: 100%;
        padding-left: 1em;
    }
    .icon{
        padding-left: 9em;
    }
    .temp{
        display: block;
        padding-top: 0em;
        font-size: 6em;
        font-weight: 200;
        text-align: left;
        text-shadow: 2px 2px rgba(50, 50, 80, 0.5);
    }
    .mainDetails{
        display: block;
        width: 50%;
    }
    .wind, .descripion, .pressure, .sunrise, .sunset {
        font-size: 1em; 
    }
    
    .otherValues{
        margin: 10%;
        padding-top: 1em;
        font-size: 2em;
        background-color: inherit;
        box-shadow: inherit;
        border-radius: none;
    }
    .pressure, .sunrise, .sunset{
        display: block;       
    }
}
